@{
    ViewData["Title"] = "Home Page";
}

<section class="position-relative d-flex justify-content-center align-items-center">
    <video src="@Url.Content("~/video/trailer.mp4")" muted loop autoplay class="w-100 h-100 bg-opacity-10">
    </video>
    <div class="position-absolute bg-black w-100 h-100 bg-opacity-25 d-flex justify-content-center align-items-center flex-column">
        <h1 class="text-warning display-1"><strong>Cine Ticket</strong></h1>
        <p class="text-white w-50 text-center">
            Booking movies online has never been easier with our website. We offer a wide selection of movies, from the latest blockbusters to independent films. You can easily find the perfect movie for your taste and budget.
        </p>
        <div class="btn btn-outline-info"><a class="text-warning" asp-controller="Movies" asp-action="Index" style="text-decoration:none">Explore</a></div>
    </div>

</section>
