@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movies";
}
@*write Code*@

<form  class="mt-3" asp-controller="Movies" asp-action="FormSelectFillter">
    <select class="form-select form-select-sm mb-3 col-lg-2" name="ItemSelected" aria-label="Large select example">
        <option selected>Status</option>
        <option value="1">AVAILABLE</option>
        <option value="2">EXPIRED</option>
        <option value="3">UPCOMING</option>
    </select>
</form>


<div class="row" id="pagination"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        function loadPage(page) {
            $.ajax({
                url: '@Url.Action("Index", "Movies")',
                type: 'GET',
                data: { page: page },
                success: function (result) {
                    $('#pagination').html(result);
                },

                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        $(document).on('click', '.pagination-link', function () {
            var page = $(this).data('page');
            loadPage(page);
        });

        loadPage(1);
    });
</script>

@await Html.PartialAsync("_CreateItem", "Movies")  